.painel-palestrantes {
    background-color: #EF7247;
    text-align: center;
    font-size: 16px;
}

.painel-palestrantes .titulo {
    display: inline-block;
    font-size: 1.5em;
    color: white;
    margin: 0.5em;
    text-transform: uppercase;
}
.painel-palestrantes .subtitulo {
    margin-bottom: 1em;
    font-size: 1.3em;
    color: white;
}

.palestrante {
    vertical-align: top;
    width: 10em;
    display: inline-block;
    background-color: white;
    margin: 0.2em;
    border-radius: 8px;
}

.foto-palestrante {
    width: 8em;
    margin-top: 20px;
    border-radius: 112px;
}

.dados-palestrante {
    margin: 0.5em;
}

.nome-palestrante, .cargo-palestrante, .texto-palestrante{
    margin-bottom: 0.5em;
}

.cargo-palestrante {
    font-weight: bold;
}
